body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
	margin-left: 5px;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
  margin-left: 25px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(17, 17, 17);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}

#reset{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(17, 17, 17);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#reset:hover{
	background-color: #38a;
}

#back{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(17, 17, 17);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#back:hover{
	background-color: #38a;
}
.box{
		margin: auto;
		width:600px;
		border:2px solid black;
		padding: 20px 20px 20px 20px;
	}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 34px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.red{
	color: red;
}

.yellow{
	color: yellow;
}